body {
    background-color: #eaeae2;
    font-family: 'Playfair Display', serif;
    margin: 20px;
    text-align: center;
}

header {
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    color: #000000;
    font-size: 2em;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#logo-container svg {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#logo-container svg path {
    fill: #ff5500;
}

#products {
    margin-top: 40px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.product-card {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.product-card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 15px;
}

.product-card button {
    background-color: #55080e;
    color: #eaeae2;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}